<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Kerstboom lichtjes</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css" rel="stylesheet"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/bootstrap-slider.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        {{ script|safe }}
    </head>
    <body>
        <nav data-bs-theme="dark" class="navbar navbar-dark navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/home">Christmastree Lights</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home#leds">LEDs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/home#anim">Animations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/home#controller">Controller</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/presets">Presets</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="container" id='main-content' style="max-width: 700px">
        <div class="row justify-content-start">
            <div id="bluetooth" class="section">
                <h3 style="text-align: center" id="leds">LEDs</h3>
                <div class="col">
                    <table id="tblBluetooth">
                        <tr><td>Scanning</td>
                            <td><input id='scanning' class='toggle-switch' type='checkbox' name='scanning'><label class='toggle-switch-label' for='scanning'>Toggle</label></td>
                            <td></td>
                        </tr>
                        <tr><td>Select device:</td>
                            <td><form class='drop-down_container'><ul class='drop-down'>
                                <li><input class='drop-down_close' type='radio' name='drop-down_bt' id='bt-close' value=''/><span class='drop-down_label drop-down_placeholder'>Select option</span></li>
                                <li class='drop-down_items'>
                                    <input class='drop-down_expand' type='radio' name='drop-down_bt' id='bt_open'/><label class='drop-down_close_label' for='bt_close'></label>
                                    <ul class='drop-down_options'>
                                        <li class='drop-down_option'>
                                            <input class='drop-down_input' onclick='device_clicked("bt", "{option:s}")'
                                                    type='radio' name='drop-down_bt' value='{option:s}' id='bt-{option:s}'>
                                            <label class='drop-down_label' for='bt-{option:s}'>{option:s}</label>
                                        </li>
                                    </ul><label class='drop-down_expand_label' for='bt_open'></label>
                                </li></ul></form>
                            </td></tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div id="popup" class="hide-popup">
            <div class="content">
                Success!
            </div>
        </div>
    </body>
</html>